* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
:root {
  --player-default-icon-size: 30px;
  --player-icon-color: rgb(255 255 255 / 70%);
  --player-icon-color-selected: rgb(16, 129, 227);
  --player-primaty-color: rgb(16, 129, 227);
  --player-slider-thumb-size: 15px;
  --player-slider-step-size: 8px;
  --player-slider-tracks-gap: 2px;
  --player-slider-height: 5px;
  --player-slider-track-border-radius: 3px;
  --player-slider-track-background: rgb(255 255 255 / 30%);
  --player-slider-track-progress-background: var(--player-primaty-color);
  --player-slider-track-buffer-background: rgb(255 255 255 / 20%);
  --player-slider-track-indicator-background: rgb(255 255 255 / 15%);
  --player-primary-text-color: #dbdbdb;
  --player-secondary-text-color: #d3d3d3;
  --player-sm-text: 12px;
  --player-md-text: 13px;
  --player-lg-text: 15px;
  --player-xl-text: 25px;
}

.loader {
  --loader-color: rgb(255 255 255 / 90%);
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  display: none;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--loader-color) 94%, #0000)
      top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--loader-color));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

 *.show {
  visibility: visible;
}

*.hide {
  visibility: hidden;
}

.popover-container {
  width: 500px;
  height: 400px; 
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(35 35 35 / 80%);
  backdrop-filter: blur(20px) saturate(120%);
  box-shadow: 0 0 0 1px rgb(90 90 90), 0 0 0 2px #252525cf;
}

.player-container {
  position: relative;
  background-color: #111;
  color: #fff;
  user-select: none;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 50%);
    /* z-index: 1px; */
  }

  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    &.player-button-control {
      transition: all 0.1s;

      &:hover {
        --player-icon-color: #fff;
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.9);
      }

      &.hide {
        display: none;
      }

      &.show {
        display: initial;
      }

      &:disabled,
      &[disabled],
      &.disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
      }

      svg {
        transition: all 0.3s;
      }

      &,
      svg {
        width: var(--player-default-icon-size);
        height: var(--player-default-icon-size);
      }

      &.selected {
        --player-icon-color: #fff;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -5px;
          margin: auto;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: var(--player-icon-color-selected);
        }

        &.outline-icon {
          stroke-width: 2.5px;
        }
      }

      &.filled-icon svg {
        fill: var(--player-icon-color);
      }

      &.outline-icon svg {
        stroke: var(--player-icon-color);
      }
    }
  }

  .player-text-view {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    display: block;
  }

  .player-video-container {
    width: 100%;
    height: 100%;

    video {
      aspect-ratio: 16 / 9;
    }
  }

  .video-status-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 0px 40px 20px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 160%;
      pointer-events: none;
      z-index: -1;
      transition: all 0.2s;
    }

    &::before {
      mask-image: linear-gradient(to top, black, black, transparent);
      backdrop-filter: blur(0px);
    }

    &::after {
      background: transparent;
    }

    &.show {
      &::before {
        backdrop-filter: blur(30px) saturate(200%);
      }

      /* &::after {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0.6) 35%,
          rgba(0, 0, 0, 0.1) 90%,
          rgba(0, 0, 0, 0) 100%
        );
      } */
    }

    .video-status-wrapper {
      display: flex;
      gap: 20px;

      .video-title-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 0;

        .video-title {
          height: 30px;
          font-size: var(--player-xl-text);
          font-weight: bold;
          color: var(--player-primary-text-color);
        }

        .video-chapter-title {
          margin-bottom: 3px;
          font-size: var(--player-lg-text);
          color: var(--player-secondary-text-color);
          position: relative;
        }
      }

      .video-status-controls-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 15px;
        flex-shrink: 0;
      }
    }

    .video-timeline-wrapper {
      margin-top: 20px;

      .video-seeker-wrapper {
        margin-bottom: 10px;
      }

      .video-time-display-wrapper {
        display: flex;
        justify-content: space-between;

        .player-text-view {
          font-size: var(--player-sm-text);
          font-weight: bold;
          color: var(--player-secondary-text-color);
        }
      }
    }
  }

  .player-playback-controls {
    --player-default-icon-size: 50px;
    --player-icon-color: rgb(255 255 255 / 90%);
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 30px;
    align-items: center;

    .player-button-control svg {
      filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
    }

    .player-playback-buttons-wrapper {
      display: flex;
      gap: 25px;
      align-items: center;

      .player-play-and-loader-wrapper {
        height: 60px;
        .playback-status-button {
          --player-default-icon-size: 60px;
        }
      }
    }
  }

  .player-volume-controls {
    --player-default-icon-size: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 40px 0;
    z-index: 5;
    display: flex;
    align-items: center;

    .player-volume-slider-wrapper {
      width: 150px;
      margin-left: 15px;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 210%;
      pointer-events: none;
      z-index: -1;
      transition: all 0.2s;
    }

    &::before {
      mask-image: linear-gradient(to bottom, black, black, transparent);
      backdrop-filter: blur(0px);
    }

    &::after {
      background: transparent;
    }

    &.show {
      &::before {
        backdrop-filter: blur(30px) saturate(200%);
      }

      /* &::after {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0.3) 35%,
          rgba(0, 0, 0, 0.1) 75%,
          rgba(0, 0, 0, 0) 100%
        );
      } */
    }
  }
}

.slider-container {
  position: relative;
  width: 100%;
  height: var(--player-slider-height);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: var(--player-slider-tracks-gap);

  &.steps-slider {
    height: 3px;
  }

  .slider-step-point {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: var(--player-slider-step-size);
    height: var(--player-slider-step-size);
    border-radius: 50%;
    background: #d4d4d4;

    .slider-step-label {
      position: absolute;
      height: 20px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -25px;
      margin: auto;
      color: rgb(141, 141, 141);
      font-size: 10px;
      text-align: center;
      cursor: pointer;
      font-family: sans-serif;
      transition: all 0.2s;

      &:hover {
        color: #222;
      }
    }

    &.active {
      background: var(--player-slider-track-progress-background);
    }

    &.selected {
      .slider-step-label {
        color: var(--player-slider-track-progress-background);
        bottom: -29px;
        transform: translateX(-50%) scale(1.1);
      }
    }
  }

  .slider-thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(0% - var(--player-slider-thumb-size) / 2);
    margin: auto;
    width: var(--player-slider-thumb-size);
    height: var(--player-slider-thumb-size);
    border-radius: 50%;
    background: white;
    pointer-events: none;
    z-index: 5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s, transform 0.2s, box-shadow 0.2s;

    &:hover,
    &.active {
      box-shadow: 0 0 0 1px rgb(0 0 0 / 8%), 0 0 0 8px rgb(255 255 255 / 10%);
    }

    &.show {
      opacity: 1;
      transform: scale(1);
    }

    &.hide {
      opacity: 0;
      transform: scale(0);
    }
  }

  .slider-track {
    position: relative;
    transition: transform 0.2s;

    &::after {
      content: "";
      position: absolute;
      width: var(--player-slider-tracks-gap);
      height: 100%;
      right: calc(-1 * var(--player-slider-tracks-gap));
      top: 0;
    }

    .slider-progress-bars-wrapper {
      height: 100%;
      height: var(--player-slider-height);
      position: relative;
      overflow: hidden;
      border-radius: var(--player-slider-track-border-radius);
      background: var(--player-slider-track-background);
      will-change: transform;

      .slider-progress-bar {
        position: absolute;
        width: 0;
        height: 100%;
        border-top-right-radius: var(--player-slider-track-border-radius);
        border-bottom-right-radius: var(--player-slider-track-border-radius);

        &.progress {
          background: var(--player-slider-track-progress-background);
          z-index: 4;
        }

        &.buffer {
          background: var(--player-slider-track-buffer-background);
          z-index: 3;
        }

        &.indicator {
          background: var(--player-slider-track-indicator-background);
          z-index: 2;
        }
      }
    }
  }

  &:not(.has-chapters).hover {
    .slider-track {
      transform: scaleY(1.4);
    }
  }

  &.has-chapters {
    .slider-track.active {
      transform: scaleY(1.8);
    }
  }
}
